.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 28px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #0f2e5a;
    color: #fff;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    .infoErro {
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hasError {
        border: 2px solid #f00;
    }

.registerField {
    margin-top: 10px;
    margin-bottom: 10px;
}

    & button {
        margin-top: 10px;
        border-radius: 30px;
        background-color: #0384b7;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 2px solid #fff;
        border-radius: 30px;
        height: 40px;
        background-color: #87CEEB;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }

    .card {
        justify-content: space-between;
        background-color: #bb5016;
        margin: 10px;
        padding: 10px;
        width: 400px;
        border-radius: 10px;
    }
}